:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--light-gray);
  font-size: 0.9375em;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 14.479rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  border-radius: 17px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.055);
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1.19rem;
}

.card-title {
  font-weight: 700;
  font-size: 1.11rem;
  color: var(--dark-blue);
  text-align: center;
  margin-bottom: .15rem;
}

.card-body {
  font-weight: 400;
  color: var(--grayish-blue);
  font-size: 0.773rem;
  padding: 0.65rem;
  margin-bottom: 0.50rem;
  text-align: center;
}
